# MySQL Configuration
MYSQL_DATABASE=zoo_fantastico
MYSQL_USER=zoo_user
MYSQL_PASSWORD=zoo_password
MYSQL_ROOT_PASSWORD=root_password
MYSQL_PORT=3306

# Spring Boot App Configuration
APP_PORT=8080
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=true

